.center {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botones{
  text-align: center; 
  display: grid;
   grid-template-rows: repeat(2, 1fr);
   gap: 10px;
}

.cancelar{
  background-color: red;
}

.logo {
  max-width: 35%;
  max-height: 35%;
  margin-bottom: 20px;
}