<div class="fondo">
<div class="titulo">
  <span class="title-text d-inline-block px-5 py-2">Mis cestas de la compra</span>
  <hr>
  <button class="btn-crear-cesta" (click)="createCesta()"><strong>+</strong></button>

  <div
  *ngIf="showCreateConfirmation"
  class="confirmation-overlay"
  (click)="closeConfirmationOnOutsideClick()"
>
  <div class="create-confirmation-dialog">
    <div class="create-dialog-header">
      <div class="create-dialog-icon">
        <mat-icon>create</mat-icon>
      </div>
      <h2 class="create-dialog-title">¿Crear una nueva cesta?</h2>
    </div>

    <div class="create-dialog-content">
      <p>
        Al crear una nueva cesta, no podrás modificar la que tienes actualmente.
      </p>
      <p>¿Crear una nueva cesta?</p>
    </div>

    <div class="create-dialog-actions">
      <button class="cancel-button" (click)="cancelcreateCart()">
        Cancelar
      </button>
      <button class="confirm-create-button" (click)="acceptcreateCart()">
        Crear
      </button>
    </div>
  </div>
</div>


  <div class="purchase-container">
    <!-- Indicador de carga -->
    <div *ngIf="loading" class="loading-spinner">
      <p>Cargando cestas...</p>
      <div class="spinner"></div>
    </div>
    
    <!-- Mensaje de error -->
    <div *ngIf="error" class="error-message">
      <p>{{ error }}</p>
    </div>
    
    <!-- Contenedor para mostrar las cestas cuando existan -->
    <div *ngIf="!loading && !error && cestasCompra && cestasCompra.length > 0" class="cestas-list">
      <div *ngFor="let cesta of cestasCompra" class="cesta-item">
        <div class="cesta-header">
          <h3>Cesta {{ cesta.localCounter }}</h3>
          <span class="cesta-fecha">Fecha de compra: {{ cesta.fecha_compra | date }}</span>
        </div>
        <span *ngIf="cesta.localCounter === cestasCompra.length;else emptySpan" class="cesta-actual">Cesta actual</span>        <ng-template #emptySpan>
          <span class="cesta-actual-placeholder"></span>
        </ng-template>
        <div class="cesta-info">
          <p>Número de productos: {{ cesta.totalProductoEnCestas || 0 }}</p>
        </div>
        
        <div class="cesta-footer">
          <button class="btn-detalles" (click)="verDetallesCesta(cesta.ID_cesta)">Ver detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #cestaVacia>
  <div class="container">
    <h1>No se encontraron cestas de compra. ¡Cree una para realizar una compra!</h1>
  </div>  
</ng-template> -->
</div>