<div class="titulo">
  <span class="title-text">Mis cestas de la compra</span>
  <hr>
  
  <div class="purchase-container">
    <!-- Indicador de carga -->
    <div *ngIf="loading" class="loading-spinner">
      <p>Cargando cestas...</p>
    </div>
    
    <!-- Mensaje de error -->
    <div *ngIf="error" class="error-message">
      <p>{{ error }}</p>
    </div>
    
    <!-- Contenedor para mostrar las cestas cuando existan -->
    <div *ngIf="!loading && !error && cestasCompra && cestasCompra.length > 0" class="cestas-list">
      <div *ngFor="let cesta of cestasCompra" class="cesta-item">
        <div class="cesta-header">
          <h3>Cesta {{ cesta.localCounter }}</h3>
          <span class="cesta-fecha">Fecha de compra: {{ cesta.fecha_compra | date }}</span>
        </div>
        <span *ngIf="cesta.localCounter === 1;else emptySpan" class="cesta-actual">Cesta actual</span>
        <ng-template #emptySpan>
          <span class="cesta-actual-placeholder"></span>
        </ng-template>
        <div class="cesta-info">
          <p>Usuario ID: {{ cesta.ID_user }}</p>
          <p>Número de productos: {{ cesta.totalProductoEnCestas || 0 }}</p>
        </div>
        
        <div class="cesta-footer">
          <button class="btn-detalles" (click)="verDetallesCesta(cesta.ID_cesta)">Ver detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #cestaVacia>
  <div class="container">
    <h1>No se encontraron cestas de compra. ¡Cree una para realizar una compra!</h1>
  </div>  
</ng-template> -->
