.login-container {
  width: 400px;
  max-width: 90%;
  min-height: 0%;
  margin: 2rem auto 0 auto;
  border: 1px solid var(--grisclaro);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
}

.btn.login {
  background-color: var(--naranja);
  margin-bottom: 3%;
  color: var(--blanco);
}

.btn.register {
  background-color: var(--verde);
  margin-bottom: 3%;
  color: var(--blanco);
}

.login-wrapper {
  background-color: var(--fondogris);
}

button[mat-icon-button] {
  border: none !important;
  outline: none;
  box-shadow: none;
}

.field{
  width: 20%;
  min-width: 200px;
}

.show-password{
  overflow: hidden;
  padding-right: 5px;
}

.logo {
  max-width: 35%;
  max-height: 35%;
  margin-bottom: 20px;
}