/* You can add global styles to this file, and also import other style files */
:root {
  --blanco: #fff;
  --negro: #000;
  --verde: #2c9f51;
  --verdeclaro: #defae7;
  --naranja: #f58634;
  --fondogris: #f3f3f3;
  --grisoscuro: #333;
  --grisclaro: #ccc;
  --busqueda: #F3F3F3;
  --rojo: #e53935;
  --rojooscuro: #c62828;
  --naranjaoscuro: #da6b1b;
  --footer: #eee;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  font-family: 'Poppins', sans-serif;
}

button {
  transition: transform 0.2s ease;
  border-radius: 7px;
  box-shadow: 0 1px 3px var(--negro);
}

button:hover {
  transform: scale(1.02);
}

.btn {
  transition: transform 0.2s ease;
  border-radius: 7px;
  box-shadow: 0 1px 3px var(--negro);
}

.btn:hover {
  transform: scale(1.02);
}