/* Estilos generales */
.titulo {
    margin-left: 20px;
}

h3{
    margin: 1em 0;
}

hr {
    color:var(--verde);
    opacity: 1;
}

.no-image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--grisclaro);
  font-style: italic;
  font-size: 14px;
  padding: 10px;
}

.title-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.categoria {
    font-size: 14px;
    color: var(--grisclaro);
}

.cantidad, .carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add {
    padding: 20px;
    display: flex;
    font-size: 15px;
    border-radius: 10px;
    align-items: center;
    height: 70px;
    border: none;
    color: var(--blanco);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    background-color: var(--verde);
    justify-content: center;
}

.btn-loading{
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    color: var(--blanco);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    background-color: var(--verde);
}

.btn-add:hover {
opacity: 0.9;
transform: scale(1.02);
}

.quantity-button {
    width: 25px;
    height: 25px;
    border: 1px solid var(--grisclaro);
    border-radius: 50%;
    background-color: var(--fondogris);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 0;
    line-height: 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.quantity-button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.quantity-button:active {
    animation: buttonClick 0.2s ease;
}

@keyframes buttonClick {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.minus-button {
    color: vaar(--naranja);
    font-weight: bolder;
    border-color: var(--naranja);
    border-width: 0.20em;
}

.plus-button {
    color: var(--verde);
    font-weight: bolder;
    border-color: var(--verde);
    border-width: 0.20em;
}

/* GRID PRINCIPAL */
.grid-container {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 2em;
    flex-wrap: wrap;
}

.grid-container > :first-child {
    flex: 1;
}

.grid-container > :last-child {
    flex: 2;
}

/* COLUMNA DE LA IMAGEN */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    border-radius: 10px;
}

.img{
    border-radius: 10px;
}

/* COLUMNA DE INFORMACIÓN */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between
}

.nutrition-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 10px;
}

.nutrition-table p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* Botones de compra */
.purchase-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 10px;
}

.quantity {
    background-color: var(--fondogris);
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    width: 3em;

    /* Border adjustments */
    border-left: 0.2em solid var(--naranja);
    border-right: 0.2em solid var(--verde);
}


.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}


.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--naranja) var(--naranja) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.spinner::after,
.spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--verde vaar(--verde));
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}
.spinner::before {
    width: 32px;
    height: 32px;
    border-color: var(--naranja) var(--naranja) transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 
@keyframes rotationBack {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}

.img-fluid {
    max-width: 100%;
    height: auto;
    min-width: 300px;
}

.hr-margin{
    margin: 0px 2.5%;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    align-items: center;
}

.product-card {
background: var(--blanco) !important;
border-radius: 5px;
text-align: center;
cursor: pointer;
border: 2px solid var(--verde);
transition: transform 0.2s ease-in-out;
}

.product-card:hover {
transform: scale(1.05);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.product-card img {
width: 100%;
object-fit: contain;
border-bottom: 2px dotted var(--verde);
padding: 15px;

}

.product-info {
background: var(--fondogris) !important;
height: 100%;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;
min-height: 70px;
}

.product-name {
font-size: 12px;
font-weight: bold;
margin: 0;

display: -webkit-box;
-webkit-line-clamp: 3;            /* Limita a 3 líneas */
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
word-break: break-word;           /* Rompe solo si necesario */
overflow-wrap: break-word;        /* Ayuda a evitar letras sueltas */
}

.product-price {
font-size: 1.1rem;
font-weight: bold;
color: var(--verde);
}

.no-similares{
    margin-left: 5em;
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side,var(--naranja) 90%,var(--negro));
    background:var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear; 
  }
  @keyframes l43 {
    0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  }