<div class="titulo">
    <h2 class="title-text">{{ product?.nombre }}</h2>
    <!-- <p class="categoria">{{ product?.categoria }} > {{ product?.subcategoria }} > {{ product?.subsubcategoria }}</p> -->
</div>

<div class="grid-container">
    <!-- Columna de la imagen -->
    <div class="grid-item image-container">
        <div *ngIf="isLoading" class="loading-container">
            <!-- Puedes usar un spinner o una barra de carga aquí -->
            <div class="spinner"></div>
        </div>
        <div *ngIf="!isLoading" class="image-container">
            <ng-container *ngIf="product?.imagen; else noImage">
                <img [src]="product?.imagen" [alt]="product?.nombre" class="img-fluid w-75 img">
            </ng-container>
            <ng-template #noImage>
                <div #noImageRef class="no-image-text">
                    Imagen no disponible
                </div>
            </ng-template>
        </div>

    </div>

    <!-- Columna de la información -->
    <div class="grid-item info-container">
        <h3>Datos del Producto</h3>
        <div class="product-details">
            <p *ngIf="!product"><strong>Precio promedio: </strong> ---</p>
            <p *ngIf="product"><strong>Precio promedio: </strong> {{ product.precio + '€' || '---' }}</p>
            <p *ngIf="!product"><strong>Supermercado: </strong>---</p>
            <p *ngIf="product" class="superName"><strong>Supermercado: </strong>{{
                getSupermercadoNombre(product.idSuper) }}</p>
        </div>

        <hr>

        <h3>Valor Nutricional</h3>
        <div *ngIf="!hasNutritionInfo(); else noInfo" class="nutrition-table">
            <p><strong>Grasas:</strong> {{ product?.grasas || '---' }} </p>
            <p><strong>Azúcares:</strong> {{ product?.azucares || '---' }} </p>
            <p><strong>Ácidos-grasos:</strong> {{ product?.acidos_grasos || '---' }} </p>
            <p><strong>Sal:</strong> {{ product?.sal || '---' }}</p>
            <p><strong>Hidratos-carbono:</strong> {{ product?.hidratos_carbono || '---' }} </p>
            <p><strong>Proteínas:</strong> {{ product?.proteinas || '---' }} </p>
        </div>

        <ng-template #noInfo>
            <p>Sin información nutricional</p>
        </ng-template>

        <hr>
        <h3>Ingredientes</h3>
        <p *ngIf="isLoading">---</p>

        <div *ngIf="!hasIngredientes(); else noIng">
            <p>{{ product?.ingredientes }}</p>
            <hr>
        </div>

        <ng-template #noIng>
            <p>Sin ingredientes</p>
        </ng-template>

        <h3>Guardar en cesta</h3>
        <div class="purchase-container">
            <div class="cantidad">
                <button class="quantity-button minus-button" (click)="restarCantidad()">-</button>
                <span class="quantity">{{ cantidad }}</span>
                <button class="quantity-button plus-button" (click)="sumarCantidad()">+</button>
            </div>
            <div class="carrito">
                <button (click)="agregarAlCarrito()"
                    [ngClass]="{'btn-loading': isLoading || isStoring, 'btn-add': !isLoading}">
                    <span *ngIf="!isStoring">Añadir a la cesta actual</span>
                    <div *ngIf="isStoring" class="loader"></div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="productos-similares">
    <div class="hr-margin">
        <hr>
    </div>
    <h2 class="title-text">Productos similares en este supermercado</h2>
    <div *ngIf="isLoadingSimillars" class="loading-container">
        <!-- Puedes usar un spinner o una barra de carga aquí -->
        <div class="spinner"></div>
    </div>

    <div *ngIf="!isLoadingSimillars">
        <div *ngIf="products.length > 0" class="product-grid">
            <div class="product-card" *ngFor="let product of products" (click)="goToProductDetail(product.ID_prod)">
                <img *ngIf="!forceLogoPng" [src]="product.imagen || 'logo_fondo.png'" [alt]="product.nombre">
                <img *ngIf="forceLogoPng" [src]="'logo_fondo.png'" [alt]="product.nombre">

                <div class="product-info">
                    <div class="product-details">
                        <h3 class="product-name">{{ keepLastTwoWordsTogether(product.nombre) }}</h3>
                    </div>
                    <div class="product-price">
                        {{ product.precio }}€
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="products.length === 0" class="no-similares">
            No hay productos similares disponibles.
        </div>
    </div>


</div>