<div class="titulo">
    <h2 class="title-text">{{ product?.nombre }}</h2>
    <!-- <p class="categoria">{{ product?.categoria }} > {{ product?.subcategoria }} > {{ product?.subsubcategoria }}</p> -->
</div>

<div class="grid-container">
    <!-- Columna de la imagen -->
    <div class="grid-item image-container">
        <img [src]="product?.imagen" [alt]="product?.nombre" class="img-fluid w-75" />
    </div>

    <!-- Columna de la información -->
    <div class="grid-item info-container">
        <h3>Datos del Producto</h3>
        <div class="product-details">
            <p><strong>Precio promedio:</strong> {{ product?.precio + '€' || 'No se dispone de datos' }}</p>
            <p><strong>Supermercado:</strong> {{ getSupermercadoNombre(product?.idSuper) }}</p>
        </div>

        <hr>

        <h3>Valor Nutricional</h3>
        <div class="nutrition-table">
            <p><strong>Grasas:</strong> {{ product?.grasas  || 'No se dispone de datos' }} </p>
            <p> <strong>Azúcares:</strong> {{ product?.azucares || 'No se dispone de datos' }} </p>
            <p><strong>Ácidos-grasos:</strong> {{ product?.acidos_grasos  || 'No se dispone de datos' }} </p>
            <p> <strong>Sal:</strong> {{ product?.sal  || 'No se dispone de datos'}}</p>
            <p><strong>Hidratos-carbono:</strong> {{ product?.hidratos_carbono  || 'No se dispone de datos'}} </p>
            <p><strong>Proteínas:</strong> {{ product?.proteinas  || 'No se dispone de datos'}} </p>
        </div>

        <hr>

        <h3>Compra</h3>
        <div class="purchase-container">
            <div class="cantidad">
            <button class="btn-change" (click)="restarCantidad()">-</button>
            <span class="quantity">{{ cantidad }}</span>
            <button class="btn-change" (click)="sumarCantidad()">+</button>
        </div>
        <div class="carrito">
            <button class="btn-add" (click)="agregarAlCarrito()">Añadir a la cesta actual</button>
        </div>      
    </div>
</div>