<div id="introduccion" class="seccion">
<div class="image-wrapper">
  <img src="frutas_y_verduras.webp" alt="Fondo" class="background" />
  <div class="content-container">
    <div class="logo-container">
      <img src="logo_fondo.png" alt="Logo" />
    </div>
    <div class="text-container">
      <div class="title">
        <span class="food">FOOD</span><span class="advisor">-ADVISOR</span>
      </div>
    </div>
  </div>
</div>
</div>

<div id="info" class="seccion">
  <h2> ¿Quiénes somos? </h2>
  <div class="description">
        Somos un pequeño grupo de trabajo orientado a las nuevas formas de encontrar alimentos. Food-Advisor presentará una búsqueda de productos que se ajusten a una dieta equilibrada según los estudios de la ONU y la pirámide nutricional que presentan. Esta página está orientada a un consumo adecuado de carnes, verduras, grasas y mucho más, y no busca personalizar dietas peculiares que puedan requerir ciertas personas, si no que ofrece dar una aproximación y recomendaciones para variarla en cada compra de una cesta.
  </div>
</div>

<div id="info2" class="seccion">
  <h2> ¿Cómo lo hacemos? </h2>
   <div class="grid-container">
    <div class="grid-item">Análisis porcentual de tu cesta según la pirámide nutricional</div>
    <div class="grid-item">Recomendación equilibrada de productos</div>
    <div class="grid-item">Muestra de información de diferentes supermercados</div>
    <div class="grid-item">Información sobre productos frescos de temporada</div>
  </div>
</div>

<div id="empresas" class="seccion">
  <h2> Trabajamos con las siguientes empresas: </h2>
  <div class="grid-container">
    <div class="grid-item">Carrefour</div>
    <div class="grid-item">Dia</div>
    <div class="grid-item">Eroski</div>
    <div class="grid-item">Mercadona</div>
  </div>
</div>