.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-wrapper img.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.title span.food {
  color: var(--naranja);
}

.title span.advisor {
  color: var(--verde);
}

.description {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.bg-fondogris {
  background-color: var(--fondogris);
}

