<div class="image-wrapper">
  <img src="frutas_y_verduras.webp" alt="Fondo" class="background" />
  <div class="content-container">
    <div class="logo-container">
      <img src="logo_fondo.png" alt="Logo" />
    </div>
    <div class="text-container">
      <div class="title">
        <span class="food">FOOD</span><span class="advisor">-ADVISOR</span>
      </div>
      <div class="description">
        Somos un pequeño grupo de trabajo orientado a las nuevas formas de encontrar alimentos. Food-Advisor presentará una búsqueda de productos que se ajusten a una dieta equilibrada según los estudios de la ONU y la pirámide nutricional que presentan. Esta página está orientada a un consumo adecuado de carnes, verduras, grasas y mucho más, y no busca personalizar dietas peculiares que puedan requerir ciertas personas, si no que ofrece dar una aproximación y recomendaciones para variarla en cada compra de una cesta.
      </div>
    </div>
  </div>
</div>