h2 {
  font-family: 'Poppins', sans-serif;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: var(--grisoscuro); 
  padding: 1rem;
  margin: 2rem 0;
  
}

h2.heading {
  font-size: 2rem;
  font-weight: 200;
}

.seccion.container {
  display: flex;
  align-items: center;   /* Centrado vertical */
  justify-content: center; /* Centrado horizontal (si aplica) */
  flex-direction: column;
  text-align: center;
}

.row.align-items-center {
  width: 100%;
}

.card {
  font-size: 0.9rem; /* Reduce el texto */
  padding: 1rem !important; /* Reduce el padding interno */
}

.card i {
  font-size: 2rem; /* Íconos más pequeños */
  margin-bottom: 0.5rem;
}

img.img-fluid {
  max-width: 15rem; /* Controla imágenes */
  height: auto;
}

h2.heading span {
  color: var(--verde);
  font-weight: 600;
}

.separator{
  width: 2px;
  height: 150px;
  background-color: var(--grisclaro);
  margin: 0 auto;
}

.btn {
  background-color: var(--verde);
}

p{
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-wrapper img.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.title span.food {
  color: var(--naranja);
}

.title span.advisor {
  color: var(--verde);
}

.mi-texto-negrita {
  font-weight: bolder;
}


.description {

  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--grisoscuro);
  padding: 20px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border: 2px solid var(--naranjaclaro);   
  border-radius: 8px;         
  background-color: var(--naranjaclaro);   
  box-shadow: 0 4px 6px rgba(230, 126, 34, 0.3); 
  transition: transform 0.3s ease;
  max-width: 100%;
}



.bg-fondogris {
  background-color: var(--fondogris);
}

#empresas img {
  transition: transform 0.2s ease;
}

#empresas img:hover {
  transform: scale(1.1);
}