<div class="profile-container">
  <div class="profile-up">
    <img [src]="avatar" alt="avatar">
    <div class="name">{{ userData?.usuario.nombre }} {{ userData?.usuario.apellidos }}</div>
  </div>

  <div class="profile-content">
    <div class="title">Mis datos:</div>
    <div class="profile-table">
      <div class="title-sub">Correo asociado:</div>
      <div class="subtitle">{{ userData?.usuario.correo }}</div>
      <div class="title-sub">Rol:</div>
      <div class="subtitle">{{ userData?.usuario.rol }}</div>
      <div class="title-sub">Creación de la Cuenta:</div>
      <div class="subtitle">{{ userData?.usuario.created_at | date }}</div>
    </div>

    <hr class="separator1 separator2">

    <div class="title">Actividad de la aplicación:</div>
    <div class="profile-table">
      <div class="title-sub">Cantidad de pedidos:</div>
      <div class="subtitle">{{ prodUser }}</div>
    </div>

    <div class="profile-buttons">
      <button class="compras" (click)="historialCompras()">Ver Historial de Compras</button>
      <button class="cerrar-sesion" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </div>
</div>
