.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  padding: 40px 80px;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 2px solid #37C666;
  padding: 55px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  background-color: white;

  min-height: 350px; 
  justify-content: center; 
}

.profile-left img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #37C666;
}

.profile-name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #222;
}

.profile-id {
  font-size: 13px;
  color: #777;
}

.profile-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.profile-section {
  background-color: white;
  border: 1.5px solid #e0e0e0;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.04);
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
}

.title-sub {
  font-weight: 500;
  color: #444;
}

.subtitle {
  display: flex;
  justify-content: end;
  font-weight: 400;
  color: #222;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.profile-buttons button {
  padding: 20px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.profile-buttons .compras {
  background-color: #37C666;
}

.profile-buttons .cerrar-sesion {
  background-color: #e05252;
}

.profile-buttons button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.stats-panel {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 16px 24px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #333;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.stats-panel p {
  margin: 0;
}


.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}


.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #f58634 #f58634 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.spinner::after,
.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #5cb85c #5cb85c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.spinner::before {
  width: 32px;
  height: 32px;
  border-color: #f58634 #f58634 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
} 
@keyframes rotationBack {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(-360deg);
}
}




