.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #2c9f51;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .menu-title-2 .title-text {
    font-weight: bold;
    margin-left: 8px;
    font-size: 20px;
  }
  
  .menu-title-2 {
    margin: 20px;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .subtitle-container {
    display: flex;
    margin-left: 5vh;
  }

  /* Cuadrícula subproductos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding: 20px;
  margin: 0 30px 40px 30px;
  align-items: center;
}

/* Tarjeta subproducto */
.product-card {
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #2c9f51;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
  border-bottom: 2px dotted #2c9f51;
  padding: 15px;
}

/* Información */
.product-info {
  background: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-height: 70px;
}

.product-details {
  text-align: center;
}

.product-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-wrap: break-word;
}

.desktop-nav {
  display: flex;
  gap: 40px;
  margin: 0 30px;
  flex-shrink: 0; /* Evita que la navegación se encoja */
  white-space: nowrap; /* Evita que los textos se partan */
}

.desktop-nav a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
  font-size: 16px;
}

.desktop-nav a.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f58634;
}