<div class="image-wrapper">
    <img src="frutas_y_verduras.webp" alt="Fondo" class="background" />
    <div class="content-container">
        <button class="btn-volver" (click)="volver()">Volver a productos</button>
        <div class="text-container">
        <span class="fallo-desc">Vaya. Parece que este pasillo no existe.<br>¡Prueba a volver a la entrada para buscar lo que querías!</span>
      </div>
        <div class="logo-container">
        <img src="logo_fondo.png" alt="Logo" />
      </div>
      <div class="text-container">
        <div class="title">
          <span class="food">404 </span><span class="advisor">NOT FOUND</span>
        </div>
      </div>
    </div>
  </div>