.menu-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-title .title-text {
  font-weight: bold;
  font-size: 16px;
}

mat-icon {
  font-size: 24px;
  color: var(--negro);
}

.menu-content {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  background-color: var(--blanco);
}

.columns-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* Espacio entre las dos columnas */
}

.left-column,
.right-column {
  width: 45%;
  /* Ajustamos el ancho de cada columna */
}

.form-group {
  margin-bottom: 5px;
  /* Espacio entre los elementos del formulario */
}

.form-group2 {
  margin-bottom: 5px;
  /* Espacio entre los elementos del formulario */
}


label {
  display: block;
  margin-bottom: 5px;
  /* Espacio entre la etiqueta y el select */
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.menu-content p {
  margin-top: 10px;
}

.form-group label {
  font-weight: lighter;
  /* Título en negrita */

  font-size: 13px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}



/* Estilo para los mat-select */
mat-select {
  border-radius: 8px;
  background-color: var(--fondogris);
  /* Fondo gris claro */
  width: 100%;
  max-width: 360px;
  font-size: 12px;
  padding: 6px;
  border: 1px groove var(--verde);
}



mat-select .mat-select-arrow {
  color: var(--negro);
}



mat-option {
  font-size: 14px;
}


.slider-num {
  display: flex;
  /* Utilizamos flexbox para alinear los elementos */
  align-items: center;
  /* Centrar verticalmente los elementos */
  gap: 30px;
  width: auto;
  /* Espacio entre los elementos */
}

.custom-slider {
  width: 200px;
}

.form-g roup2 label {
  margin-top: 10px;
}



span {
  white-space: nowrap;
  /* Evita que el texto se divida */
}


.form-group2 label {
  font-weight: lighter;
  /* Título en negrita */

  font-size: 13px;
}

.form-group2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
}

.slider-num {
  display: flex;
  gap: 20px;
  flex-direction: row;
  max-width: 300px;
  min-width: 250px;
}

.slider-num mat-slider {
  max-width: 80px;
}

.botones-bajos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10%;
}

.btn-aplicar {
  background-color: var(--verde);
  color: var(--blanco);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  display: block;
  margin: 40px auto;
}

.menu-title-2 .title-text {
  font-weight: bold;
  margin-left: 8px;
  font-size: 20px;
}

/* PRODUCTOS */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 20px 60px 40px 60px;
  align-items: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* para que todo arranque desde arriba */
  max-width: 300px; /* ajusta como quieras */
  min-height: 400px; /* altura mínima de la card para que todas tengan el mismo tamaño */
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--blanco);
  border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}



.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.no-image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--grisclaro);
  font-style: italic;
  font-size: 14px;
  padding: 10px;
}


.product-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  border-top-left-radius: 23%;
  border-top-right-radius: 23%;
  object-fit: contain;
}

.product-divider {
  height: 2px;                /* Bajo alto = línea horizontal */
  width: 100%;                /* Ocupa todo el ancho disponible */
  background-color: var(--verde);
  margin: 10px 0;             /* Espaciado vertical */
}


.product-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 10px;
  gap: 10px;
}

.product-image-container {
  min-height: 220px; /* fija espacio para la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border-top-left-radius: 23%;
  border-top-right-radius: 23%;
  overflow: hidden;
}

.product-image-container img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.price-supermarket {
  margin-top: auto;  /* Esto empuja price-supermarket al fondo */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.product-details {
  text-align: left;
}

.product-name {
  margin-top: auto; /* empuja hacia abajo todo lo que pueda */
  font-size: 1rem;
  max-height: 4.5em; /* limita el alto a aprox 3 líneas */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* limita a 3 líneas */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--verde);
  margin-bottom: 0;

}


.product-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin: 0;
}

.product-market {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: var(--naranja);
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  min-width: 100%;
}

.product-container {
  /* Gris claro */
  padding: 1rem;
}

.fondo {
  background-color: var(--fondogris);
  min-height: 100vh;
}

.filtros_av {
  border: 1px solid var(--verde);
  width: 100%;
}

.pagination button {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: var(--naranja);
  color: var(--blanco);
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}


.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--naranja) var(--naranja) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner::after,
.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--verde) var(--verde);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.spinner::before {
  width: 32px;
  height: 32px;
  border-color: var(--naranja) var(--naranja) transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}




/* Botón para abrir el sidebar */
.toggle-sidebar {
  margin: 16px;
  padding: 8px 12px;
  background-color: var(--verde);
  color: var(--blanco);
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Sidebar (ya lo tienes bien) */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 5px;
}

.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

.sidebar.active {
  left: 0;
}

.sidebar-content {
  max-height: 100vh;
  overflow-y: auto;
  background-color: #f9f9f9;
}

/* Filtro individual */
.filtro-section {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 12px;
  background-color: #f9f9f9;
}



/* Botones */
.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 20px;

}

.btn-limpiar {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  display: block;
  margin: 40px auto;
  border: none;
}

.loading-container {
  display: flex;
  flex-direction: column;
}

.loading-text {
  margin: 12px 0;
  color: #555;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.5;
  font-style: italic;
}


.no-productos {
  display: flex;
  justify-content: center;
  min-width: 80%;
  margin: 0 80px 0 80px;
}

.no-productos h1 {
  font-size: 32px;
  text-align: center;
}


.limpiar {
  padding: 8px 12px;
  background-color: var(--naranja);
  color: var(--blanco);
  border: none;
  cursor: pointer;
  font-weight: bold;
}



.fixed-width {
  width: 40px;
  text-align: center;
  font-size: 11px;
  padding: 2px 4px;
  margin: 0 5px;
}


/* Elimina las flechitas en Chrome, Safari, Edge */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Elimina las flechitas en Firefox */
.no-spinner {
  -moz-appearance: textfield;
}