

<!-- Sidebar (oculto por defecto) -->
<div class="sidebar" [class.active]="sidebarOpen">
  <div class="sidebar-content">
    <h2>Filtros</h2>
    <div class="form-group">
      <label for="supermercado">Supermercado:</label>
      <mat-select
        [(value)]="selectedSupermercado"
        (selectionChange)="onSupermercadoChange()"
        id="supermercado"
        name="supermercado">
        <mat-option [value]="''">Todos</mat-option>
        <mat-option *ngFor="let id of supermercadoIds" [value]="id">
          {{ getSupermercadoNombre(id) }}
        </mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label for="categoria">Categoría:</label>
      <mat-select
        [(value)]="selectedCategoria"
        (selectionChange)="onCategoriaChange()"
        id="categoria"
        name="categoria"
        [disabled]="!selectedSupermercado">
        <mat-option [value]="''">Todas</mat-option>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label for="subcategoria">Subcategoría:</label>
      <mat-select
        [(value)]="selectedSubcategoria"
        (selectionChange)="onSubcategoriaChange()"
        id="subcategoria"
        name="subcategoria"
        [disabled]="!selectedCategoria">
        <mat-option [value]="''">Todas</mat-option>
        <mat-option *ngFor="let sub of subcategorias" [value]="sub.id">
          {{ sub.nombre }}
        </mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label for="subcategoria2">Subcategoría 2:</label>
      <mat-select
        [(value)]="selectedSubcategoria2"
        id="subcategoria2"
        name="subcategoria2"
        [disabled]="!selectedSubcategoria">
        <mat-option [value]="''">Todas</mat-option>
        <mat-option *ngFor="let sub2 of subcategorias2" [value]="sub2.id">
          {{ sub2.nombre }}
        </mat-option>
      </mat-select>
    </div>


    <div class="sidebar-buttons">
    <button (click)="toggleFiltros()">Filtros avanzados</button>


    <!-- Filtros avanzados -->
    <div *ngIf="mostrarFiltros" class="filtros-avanzados">

      <div class="form-group2">
        <label for="precio">Precio:</label>
        <div class="slider-num">
          <span class="fixed-width">{{ precio.start }}</span>
          <mat-slider
            id="precio"
            color="primary"
            [min]="0.0"
            [max]="precio.max"
            [step]="1"
            thumbLabel
            class="custom-slider"
          >
            <input class="input-slider" matSliderStartThumb [(ngModel)]="precio.start" />
            <input class="input-slider" matSliderEndThumb [(ngModel)]="precio.end" />
          </mat-slider>
          <span class="fixed-width">{{ precio.end }}</span>
        </div>
      </div>


      <div class="form-group2">
        <label for="grasas">Grasas:</label>
        <div class="slider-num">
          <span class="fixed-width">{{ grasa.start }}</span>
          <mat-slider id="grasas" color="primary"
                      [min]="0.0"
                      [max]="grasa.max"
                      [step]="0.1" thumbLabel class="custom-slider">
            <input class="input-slider" matSliderStartThumb [(ngModel)]="grasa.start">
            <input class="input-slider" matSliderEndThumb [(ngModel)]="grasa.end"/>
          </mat-slider>
          <span class="fixed-width">{{ grasa.end }}</span>
        </div>
      </div>

      <div class="form-group2">
        <label for="azucares">Azucares:</label>
        <div class="slider-num">
          <span class="fixed-width">{{ azucar.start }}</span>
          <mat-slider id="azucares" color="primary"
                      [min]="0.0"
                      [max]="azucar.max"
                      [step]="0.1" thumbLabel class="custom-slider">
            <input class="input-slider" matSliderStartThumb [(ngModel)]="azucar.start">
            <input class="input-slider" matSliderEndThumb [(ngModel)]="azucar.end"/>
          </mat-slider>
          <span class="fixed-width">{{ azucar.end }}</span>
        </div>
      </div>

      <div class="form-group2">
        <label for="sal">Sal:</label>
        <div class="slider-num">
          <span class="fixed-width">{{ sal.start }}</span>
          <mat-slider id="sal" color="primary"
                      [min]="0.0"
                      [max]="sal.max"
                      [step]="1" thumbLabel class="custom-slider">
            <input class="input-slider" matSliderStartThumb [(ngModel)]="sal.start">
            <input class="input-slider" matSliderEndThumb [(ngModel)]="sal.end"/>
          </mat-slider>
          <span class="fixed-width">{{ sal.end }}</span>
        </div>
      </div>

      <div class="form-group2">
        <label for="proteinas">Proteinas:</label>
        <div class="slider-num">
          <span class="fixed-width">{{ proteinas.start }}</span>
          <mat-slider id="proteinas" color="primary"
                      [min]="0.0"
                      [max]="proteinas.max"
                      [step]="0.1"thumbLabel class="custom-slider">
            <input class="input-slider" matSliderStartThumb [(ngModel)]="proteinas.start">
            <input class="input-slider" matSliderEndThumb [(ngModel)]="proteinas.end"/>
          </mat-slider>
          <span class="fixed-width">{{ proteinas.end }}</span>
        </div>
      </div>

      <div class="form-group2">
        <label for="hidrato">Carbohidratos:</label>
        <div class="slider-num">
          <span class="fixed-width">{{ hidrato.start }}</span>
          <mat-slider id="hidrato" color="primary"
                      [min]="0.0"
                      [max]="hidrato.max"
                      [step]="0.1" thumbLabel class="custom-slider">
            <input class="input-slider" matSliderStartThumb [(ngModel)]="hidrato.start">
            <input class="input-slider" matSliderEndThumb [(ngModel)]="hidrato.end"/>
          </mat-slider>
          <span class="fixed-width">{{ hidrato.end }}</span>
        </div>
      </div>

      <div class="form-group2">
        <label for="acidos">Ácidos Grasos:</label>
        <div class="slider-num">
          <span class="fixed-width">{{ acidos.start }}</span>
          <mat-slider id="acidos" color="primary"
                      [min]="0.0"
                      [max]="acidos.max"
                      [step]="0.1" thumbLabel class="custom-slider">
            <input class="input-slider" matSliderStartThumb [(ngModel)]="acidos.start">
            <input class="input-slider" matSliderEndThumb [(ngModel)]="acidos.end"/>
          </mat-slider>
          <span class="fixed-width">{{ acidos.end }}</span>
        </div>
      </div>

    </div>




    <!-- Puedes agregar filtros aquí -->
    <button id="btn-aplicar" (click)="aplicarFiltros()">Aplicar</button>
    </div>
  </div>
</div>

<!-- Fondo oscuro al abrir el sidebar -->
<div class="sidebar-backdrop" *ngIf="sidebarOpen" (click)="toggleSidebar()"></div>




<div class="menu-title-2">
  <span class="title-text">Productos</span>
  <!-- Botón para abrir el sidebar -->
  <button class="toggle-sidebar" (click)="toggleSidebar()">Filtros</button>
</div>


<div *ngIf="isLoading" class="loading-container">
  <!-- Puedes usar un spinner o una barra de carga aquí -->
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading" class="product-grid">
  <div class="product-card" *ngFor="let product of products" (click)="goToProductDetail(product.ID_prod)">
    <img [src]="product.imagen || 'logo_fondo.png'" [alt]="product.nombre">

    <div class="product-info">
      <div class="product-details">
        <h3 class="product-name">{{  keepLastTwoWordsTogether(product.nombre) }}</h3>

      </div>
      <div class="product-price">
        {{ product.precio }}€
      </div>
    </div>
  </div>


</div>

<div *ngIf="!isLoading" class="pagination">
  <button (click)="initPage()" [disabled]="currentPage === 1">««</button>

  <button (click)="prevPage()" [disabled]="currentPage === 1">«</button>

  <button *ngFor="let page of visiblePages"
          (click)="changePage(page)"
          [class.active]="currentPage === page">
    {{ page }}
  </button>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">»</button>

  <button (click)="lastPage()" [disabled]="currentPage === totalPages">»»</button>

</div>

