<mat-toolbar class="custom-toolbar" *ngIf="showHeader">
  <div class="toolbar-left">
    <img src="logo.png" alt="Food Advisor Logo" class="logo" [routerLink]="['/home']" />

    <div class="search-container" [ngClass]="{
      'search-container-hidden': hideSearch || (isMobileView && !showSearchBar),
      'search-container-show': !hideSearch && (!isMobileView || showSearchBar),
      'search-container-mobile': isMobileView && showSearchBar
    }">
      <input
        type="text"
        placeholder="Introduzca el nombre del producto"
        class="search-input"
        [(ngModel)]="searchQuery"
        (keyup)="onSearchKeyUp($event)"
      />
      <button class="search-button" (click)="handleSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button class="voice-button" (click)="startVoiceSearch()">
        <mat-icon [class.mic-active]="isListening">mic</mat-icon>
      </button>
      <button *ngIf="isMobileView" class="close-search-button" (click)="closeSearchBar()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- MENÚ DE NAVEGACIÓN CENTRAL -->
  <div class="desktop-nav">
    <a mat-button [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
    <a mat-button [routerLink]="['/home']" routerLinkActive="active">Productos</a>
    <a mat-button [routerLink]="['/temporada']" routerLinkActive="active">Productos de temporada</a>
    <a *ngIf="showProfile" class="admin" mat-button [routerLink]="['/ad-conf-vis']" routerLinkActive="active">Administrador</a>
  </div>

  <!-- ELEMENTOS DE LA DERECHA -->
  <div class="toolbar-right">
    <ng-container *ngIf="isMobileView && !hideSearch">
      <button class="icon-button search-icon-button" (click)="toggleSearchBar()">
        <mat-icon>search</mat-icon>
      </button>
      <button class="icon-button voice-icon-button" (click)="startVoiceSearch()">
        <mat-icon [class.mic-active]="isListening">mic</mat-icon>
      </button>
    </ng-container>

    <button *ngIf="isMobileView" class="icon-button menu-button" (click)="toggleMobileMenu()">
      <mat-icon>{{ showMobileMenu ? 'close' : 'menu' }}</mat-icon>
    </button>

    <ng-container *ngIf="showProfile; else elseTemplate">
      <button mat-icon-button class="cart-button" [routerLink]="['/cestas']">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <div class="perfil" (click)="irPerfil()">
        <img [src]="avatar" alt="avatar" />
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <mat-icon class="perfil_antes" *ngIf="!hideLoginButton" [routerLink]="['/login']">account_circle</mat-icon>
    </ng-template>
  </div>
</mat-toolbar>

<!-- Menú móvil -->
<div class="mobile-nav" [ngClass]="{'show-mobile-menu': showMobileMenu}">
  <a mat-button [routerLink]="['/inicio']" routerLinkActive="active" (click)="closeMobileMenu()">Inicio</a>
  <a mat-button [routerLink]="['/home']" routerLinkActive="active" (click)="closeMobileMenu()">Productos</a>
  <a mat-button [routerLink]="['/temporada']" routerLinkActive="active" (click)="closeMobileMenu()">Productos de temporada</a>
  <a *ngIf="showProfile" class="admin" mat-button [routerLink]="['/ad-conf-vis']" routerLinkActive="active" (click)="closeMobileMenu()">Administrador</a>
</div>

<!-- Overlay -->
<div class="mobile-menu-overlay" *ngIf="showMobileMenu" (click)="closeMobileMenu()"></div>