<div class="page-container">
  <mat-toolbar class="custom-toolbar" *ngIf="showHeader">
    <div class="toolbar-left">
      <img src="logo.png" alt="Food Advisor Logo" class="logo" [routerLink]="['/home']"/>

      <!-- Barra de búsqueda que se muestra/oculta según la vista -->
      <div class="search-container" [ngClass]="{
        'search-container-hidden': hideSearch || (isMobileView && !showSearchBar),
        'search-container-show': !hideSearch && (!isMobileView || showSearchBar),
        'search-container-mobile': isMobileView && showSearchBar
      }">
        <input
          type="text"
          placeholder="Introduzca el nombre del producto"
          class="search-input"
          [(ngModel)]="searchQuery"
          (keyup)="onSearchKeyUp($event)"
        />
        <button class="search-button" (click)="handleSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <!--Icono de busqueda por voz-->
        <button class="voice-button" (click)="startVoiceSearch()">
          <mat-icon [class.mic-active]="isListening">mic</mat-icon>
        </button>
        <!-- Botón para cerrar la búsqueda en móvil -->
        <button *ngIf="isMobileView" class="close-search-button" (click)="closeSearchBar()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <!-- Navegación normal -->
    <nav class="desktop-nav">
      <a mat-button [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
      <a mat-button [routerLink]="['/home']" routerLinkActive="active">Productos</a>
      <a mat-button [routerLink]="['/temporada']" routerLinkActive="active">Productos de temporada</a>
      <a *ngIf="showProfile" class="admin" mat-button [routerLink]="['/ad-conf-vis']" routerLinkActive="active">Administrador</a>
    </nav>

    <div class="toolbar-right">
      <!-- Iconos de búsqueda y micrófono para móvil -->
      <ng-container *ngIf="isMobileView && !hideSearch">
        <button class="icon-button search-icon-button" (click)="toggleSearchBar()">
          <mat-icon>search</mat-icon>
        </button>
        <button class="icon-button voice-icon-button" (click)="startVoiceSearch()">
          <mat-icon [class.mic-active]="isListening">mic</mat-icon>
        </button>
      </ng-container>

      <!-- Menú hamburguesa a la izquierda del carrito -->
      <button *ngIf="isMobileView" class="icon-button menu-button" (click)="toggleMobileMenu()">
        <mat-icon>{{ showMobileMenu ? 'close' : 'menu' }}</mat-icon>
      </button>

      <ng-container *ngIf="showProfile; else elseTemplate">
        <button mat-icon-button class="cart-button" [routerLink]="['/cestas']">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <div class="perfil" (click)="irPerfil()">
          <img [src]="avatar" alt="avatar" />
          <!-- {{ userData?.usuario.nombre }} {{ userData?.usuario.apellidos }} -->
        </div>
      </ng-container>
       
      <ng-template #elseTemplate>
        <button *ngIf="!hideLoginButton" mat-flat-button class="login-button" [routerLink]="['/login']">
          Iniciar Sesión
        </button>
      </ng-template>
    </div>
  </mat-toolbar>

  <!-- Menú móvil desplegable -->
  <div class="mobile-nav" [ngClass]="{'show-mobile-menu': showMobileMenu}">
    <a mat-button [routerLink]="['/inicio']" routerLinkActive="active" (click)="closeMobileMenu()">Inicio</a>
    <a mat-button [routerLink]="['/home']" routerLinkActive="active" (click)="closeMobileMenu()">Productos</a>
    <a mat-button [routerLink]="['/temporada']" routerLinkActive="active" (click)="closeMobileMenu()">Productos de temporada</a>
    <a *ngIf="showProfile" class="admin" mat-button [routerLink]="['/ad-conf-vis']" routerLinkActive="active" (click)="closeMobileMenu()">Administrador</a>
  </div>

  <!-- Overlay para cuando el menú está abierto -->
  <div class="mobile-menu-overlay" *ngIf="showMobileMenu" (click)="closeMobileMenu()"></div>

  <div class="content">
    <router-outlet/>
  </div>

    <!-- Footer -->
    <footer class="bg-body-tertiary text-center">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Sección: Links -->
            <section class="links">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column para los enlaces -->
                    <div class="col-lg-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">LEGAL</h5>
                        <!-- Lista de enlaces -->
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-body">Política de privacidad</a>
                            </li>
                            <li>
                                <a class="text-body">Términos y condiciones</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Fin del grid column para los enlaces -->

                    <!-- Grid column para el logo -->
                    <div class="col-lg-6 mb-4 mb-md-1">
                        <h5 class="text-uppercase">SOPORTE</h5>
                        <!-- Lista de enlaces -->
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-body">Contacto</a>
                            </li>
                            <li>
                                <a class="text-body">FAQ</a>
                            </li>                            
                            <!-- Más enlaces aquí -->
                        </ul>
                    </div>
                    <!-- Fin del grid column para el logo -->
                </div>
                <!-- Fin del grid row -->

                <!-- Multimedia -->
                <div class="multimedia">
                  <img src="logo.png" alt="Food Advisor Logo" class="logo"/>
                    <p class="lema">Compara, ahorra y equilibra tu compra</p>
                </div>
                <!-- Fin de multimedia -->
            </section>
            <!-- Fin de la sección: Links -->
        </div>
        <!-- Fin del grid container -->
    
        <!-- Copyright -->
        <!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">--->
            <!-- Texto de copyright -->
            © 2025 Copyright:
            <!-- Enlace de la compañía -->
            <a class="text-reset"> Food Advisor</a>
        <!-- Fin del copyright -->
    </footer>
    <!-- Fin del footer -->

    <!-- Importar Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>